<main class="relative w-full h-[35rem] sm:h-[37rem] md:h-[39rem] lg:h-[41rem] xl:h-[43rem] 2xl:h-[45rem] border-y border-white/40 text-white">
  <img src="<%= imageUrl %>" alt="Background" class="h-full w-full object-cover object-center opacity-20">
  <section class="absolute h-full w-full top-0 left-0 bg-black/70 text-textDark flex items-center justify-center">
    <div class="flex flex-col gap-y-10 text-right">
      <h1 class="text-3xl md:text-4xl 2xl:text-5xl font-semibold"><%= heading %></h1>
      <p class="text-sm md:text-base xl:text-lg capitalize"><span class="text-gray-400"><%= subtext %></span> | <%= heading %></p>
    </div>
  </section>
</main>