<div id="crypto">
    <div class="custom-select mt-10 w-72 md:w-96 border-2 border-brightBlue rounded-xl text-center relative">
      <select class="text-lg" name="wallet">
        <option value="">Choose Your Wallet</option>
        <option value="Bitcoin" selected>Bitcoin</option>
        <option value="Ethereum">Ethereum</option>
        <option value="Bitcoin Cash">Bitcoin Cash</option>
        <option value="Cardano">Cardano(ADA)</option>
        <option value="Solana">Solana</option>
        <option value="Litecoin">Litecoin</option>
        <option value="Near">NEAR</option>
        <option value="Waves">WAVES</option>
      </select>
    </div>
    <div class="mt-4">
    <input type="hidden" value="crypto" name="medium" />

      <h4 class="mt-8 text-sm text-center text-darkBlue md:text-base">
        Wallet Address
      </h4>
      <input
        class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
        type="text" name="address" id="address" placeholder="Input Your Wallet Address" required />
      <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
        Amount To Withdraw
      </h4>
      <input
        class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
        type="number" name="amount" id="amount" placeholder="Minimum Of £100" min="100" required />
    </div>
    <div class="flex justify-center">
      <button type="submit"
        class="px-10 py-3 mt-10  w-72 md:w-96 duration-700 text-lightGray1 bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray1 hover:text-darkBlue disabled:opacity-50 disabled:cursor-not-allowed load">
        Withdraw
      </button>
    </div>
  </div>