<!-- Footer -->
<footer class="text-xs md:text-sm xl:text-base">
  <!-- Flex Container -->
  <div class="flex md:flex-row flex-col justify-between md-space-y-0 space-y-8 mx-auto px-6 py-10 container">
    <div class="flex flex-col md:flex-col justify-between items-center md:items-start space-y-12 md:space-y-0">
      <div>
        <a href="/"><img class="w-12 md:w-16 xl:w-20 duration-500 hover:cursor-pointer hover:grayscale" src="../Images/logo1.png" alt="Realmforte logo" /></a>

        <p class="mt-4 max-w-[40ch] text-gold">
          Pärnu mnt 109, Kesklinna linnaosa, 11312 Tallinn, Harju maakond, Estonia.
        </p>
      </div>
    </div>
    <!-- List Container -->
    <div class="flex justify-around space-x-4 md:space-x-20">
      <div class="flex flex-col space-y-3 text-white">
        <a href="/" class="text-gold hover:text-lightGray">Home</a>
        <a href="/aboutUs" class="text-gold hover:text-lightGray">About Us</a>
        <a href="/services" class="text-gold hover:text-lightGray">Service</a>
        <a href="/faq" class="text-gold hover:text-lightGray">FAQ</a>
      </div>
      <div class="flex flex-col space-y-3 text-white">
        <a href="/user/login" class="text-gold hover:text-lightGray">Login</a>
        <a href="/user/create" class="text-gold hover:text-lightGray">Sign-up</a>
        <a href="/policies" class="text-gold hover:text-lightGray">Privacy Policy</a>
        <a href="/careers" target="_blank" rel="noopener noreferrer" class="text-gold hover:text-lightGray">Open Positions</a>
      </div>
    </div>
    <!-- Input Container-->
    <form>
      <div class="flex flex-col items-center mt-2">
        <input type="email" id="well" class="border-white bg-inherit px-4 py-3 border rounded-md w-[16rem] sm:w-[22rem] lg:w-[16rem] text-gold placeholder:text-sm caret-gold focus:outline-darkNavy" placeholder="Enter Your Email Address" />
        <a id="subBtn" class="border-2 border-gold bg-gold hover:bg-darkNavy mt-4 py-3 rounded-md w-[16rem] sm:w-[22rem] lg:w-[16rem] text-center text-white duration-500 cursor-pointer">Subscribe</a>
      </div>
    </form>
  </div>
  <div class="border-gold mt-10 py-6 border-t text-center text-white/70">
    Copyright © 2024 Realmforte Services. All rights reserved.
  </div>
</footer>

<!-- Script for the input -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const subBtn = document.getElementById("subBtn");
    const email = document.getElementById("well");

    subBtn.addEventListener("click", function() {
      email.value = ""
    });
  });
</script>

<!-- Iconic Icon Scripts -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>