<div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
<!-- Nav Bar -->
<nav class="relative mx-auto px-6 container py-10">
  <!-- Flex Box -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="rounded-[50%] bg-white p-2">
      <a href="/">
        <img
          class="w-10 sm:12 md:w-14 lg:16 duration-500 hover:grayscale"
          src="../Images/logo1.png"
          alt="This is the Deluxe Capital's Logo"
      /></a>
    </div>
    <!-- Menu Items -->
    <div class="hidden md:flex space-x-12">
      <a href="/" class="font-semibold text-gold hover:text-lightGray">Home</a>
      <a href="/aboutUS" class="font-semibold text-gold hover:text-lightGray"
        >About Us</a
      >
      <a href="/services" class="font-semibold text-gold hover:text-lightGray"
        >Services</a
      >
      <a href="/faq" class="font-semibold text-gold hover:text-lightGray"
        >FAQ</a
      >
      <a href="/contact" class="font-semibold text-gold hover:text-lightGray"
        >Contact</a
      >
      <a href="/user/login" class="font-semibold text-gold hover:text-lightGray"
        >Login</a
      >
    </div>
    <!-- Button -->
    <a
      href="/user/create"
      class="hidden md:block py-3 w-40 text-center duration-500 font-bold text-gold border-2 border-gold rounded-lg baseline hover:bg-gold hover:text-black"
      >Sign Up</a
    >
    <!-- Hamburger Icon -->
    <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-down"></span>
    </button>
  </div>
  <!-- Mobile Menu -->
  <div class="md:hidden">
    <div
      id="menu"
      class="hidden absolute flex-col items-center z-50 self-end py-8 mt-14 space-y-6 font-bold bg-darkNavy sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
    >
      <a class="font-semibold text-gold hover:text-lightGray" href="/">Home</a>
      <a class="font-semibold text-gold hover:text-lightGray" href="/aboutUs"
        >About Us</a
      >
      <a class="font-semibold text-gold hover:text-lightGray" href="/services"
        >Services</a
      >
      <a class="font-semibold text-gold hover:text-lightGray" href="/faq"
        >FAQ</a
      >
      <a class="font-semibold text-gold hover:text-lightGray" href="/contact"
        >Contact</a
      >
      <a class="font-semibold text-gold hover:text-lightGray" href="/user/login"
        >Login</a
      >
      <a
        href="/user/create"
        class="py-3 w-40 text-center duration-1000 text-lightGray border-2 border-gold rounded-lg baseline hover:bg-darkNavy hover:text-lightGray"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
