<div class="flex flex-col w-4/5 my-20 items-center justify-center space-y-8 m-auto bg-white border border-[#6564DB] istGlass bg-opacity-10 rounded-lg p-6">
    <h4 class="text-lightGray1 text-base sm:text-lg font-bold md:text-xl lg:text-2xl">Fast And Reliable Depositing And Withdrawal Option.</h4>
    <div class="container flex flex-row items-center justify-evenly md:space-x-8">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/ethereum.png" alt="This is an icon.">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/bitcoin.png" alt="This is an icon.">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/usdt.png" alt="This is an icon.">
    </div>
  </div>