<div class="flex flex-col w-4/5 my-20 items-center justify-center mx-auto gap-y-10 bg-white border border-[#6564DB] istGlass bg-opacity-10 rounded-[1.5rem] md:rounded-[2rem] xl:rounded-[2.5rem] p-6">
    <h4 class="text-lightGray1 text-base sm:text-lg font-semibold md:text-xl xl:text-2xl">Fast and Reliable Depositing and Withdrawal Option.</h4>
    <div class="container flex flex-row items-center justify-evenly">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/ethereum.png" alt="This is an icon.">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/bitcoin.png" alt="This is an icon.">
      <img class="h-8 md:h-12 duration-500 opacity-70 hover:opacity-100" src="../Images/usdt.png" alt="This is an icon.">
    </div>
  </div>