<!-- Favicon -->
<link rel="shortcut icon" href="../Images/logo.ico" type="image/x-icon" />
<!-- Primary Meta Tags -->
<title>Realmforte</title>
<meta name="title" content="Realmforte" />
<meta name="description" content="Explore the Future of Financial Freedom with Secure, Long-term, Yielding Cryptocurrency Investments and Savings." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Realmforte" />
<meta property="og:description" content="Explore the Future of Financial Freedom with Secure, Long-term, Yielding Cryptocurrency Investments and Savings." />
<meta property="og:image" content="https://res.cloudinary.com/dpmx02shl/image/upload/v1733553871/logo1_ujvfto.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="Realmforte" />
<meta property="twitter:description" content="Explore the Future of Financial Freedom with Secure, Long-term, Yielding Cryptocurrency Investments and Savings." />
<meta property="twitter:image" content="https://res.cloudinary.com/dpmx02shl/image/upload/v1733553871/logo1_ujvfto.png" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
<!-- Font-Awesome -->
<script src="https://kit.fontawesome.com/f5af09e245.js" crossorigin="anonymous"></script>
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = "c05319217c1db0119c471761d79ed3bf9f92eef0";
  window.smartsupp ||
    (function(d) {
      var s,
        c,
        o = (smartsupp = function() {
          o._.push(arguments);
        });
      o._ = [];
      s = d.getElementsByTagName("script")[0];
      c = d.createElement("script");
      c.type = "text/javascript";
      c.charset = "utf-8";
      c.async = true;
      c.src = "https://www.smartsuppchat.com/loader.js?";
      s.parentNode.insertBefore(c, s);
    })(document);
</script>
<!-- Stylesheet -->
<link rel="stylesheet" href="../CSS/main.css" />