<section class="relative z-50">
    <span class="lg:hidden absolute text-gold text-4xl top-5 left-4 cursor-pointer" onclick="Openbar()">
        <i class="bi bi-filter-left px-2 bg-brightBlue rounded-md cursor-pointer"></i>
      </span>
      <div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000
        p-2 w-[300px] overflow-y-auto text-center bg-brightBlue shadow h-screen">
        <div class="text-gray-100 text-xl">
          <div class="p-2.5 mt-1 flex items-center rounded-md">
            <img class="w-10 mb-2" src="../Images/logo.png" alt="Deluxe Capital Logo">
           <a href="/user/dashboard"> <h1 class="ml-3 text-base lg:text-xl text-gold font-bold text-left">Deluxe Capital</h1></a>
            <i class="bi text-gold bi-x ml-20 cursor-pointer text-lg lg:hidden" onclick="Openbar()"></i>
          </div>
          <hr class="my-2 text-gray-600">
    
          <div class="mt-10">
            <a href="/user/dashboard"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
              <i class="bi text-gold bi-house-door-fill"></i>
             <span class="text-[15px] ml-4 text-gray-200">Dashboard</span>
            </div></a>
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
                <i class="bi text-gold bi-cash-coin"></i>
                <div class="flex justify-between w-full items-center" onclick="dropDown()">
                  <span class="text-[15px] ml-4 text-gray-200">Transactions</span>
                    <i id="arrow" class="bi text-gold bi-caret-down-fill"></i>
                </div>
              </div>
              <div class="leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto" id="submenu">
               <a href="/user/deposit"> <h1 class="cursor-pointer p-2 hover:bg-gray-700 hover:border-r-8 hover:border-r-gold rounded-md mt-1">Deposit</h1></a>
               <a href="/user/invest"> <h1 class="cursor-pointer p-2 hover:bg-gray-700 hover:border-r-8 hover:border-r-gold rounded-md mt-1">Invest</h1></a>
               <a href="/user/withdraw"> <h1 class="cursor-pointer p-2 hover:bg-gray-700 hover:border-r-8 hover:border-r-gold rounded-md mt-1">Withdrawal</h1></a>
              </div>
            <a href="/user/transactions"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
            <i class="bi text-gold bi-receipt"></i>
              <span class="text-[15px] ml-4 text-gray-200">History</span>
            </div></a>
            <hr class="my-4 mb-10 text-gray-600">
            <a href="/user/profile"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
                <i class="bi text-gold bi-person-check"></i>
             <span class="text-[15px] ml-4 text-gray-200">My Profile</span>
            </div></a>
            <a href="/support"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
                <i class="bi text-gold bi-envelope-check-fill"></i>
             <span class="text-[15px] ml-4 text-gray-200">Get Support</span>
            </div></a>
            <a href="/user/referral"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
                <i class="bi text-gold bi-people-fill"></i>
             <span class="text-[15px] ml-4 text-gray-200">My Referral</span>
            </div></a>
            <form action="/user/logout" method="post">
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-700 hover:border-r-8 hover:border-r-gold">
              <button type="submit">
              <i class="bi text-gold bi-box-arrow-in-right"></i>
              <span class="text-[15px] ml-4 text-gray-200">Logout</span></button>
            </div></form>
    
          </div>
        </div>
      </div>
</section>
<!-- Translator -->
<div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>