<section class="relative z-50">
  <span
    class="absolute top-5 left-4 cursor-pointer text-3xl text-gold lg:hidden"
    onclick="Openbar()"
  >
    <i
      class="bi bi-filter-left cursor-pointer rounded-md bg-brightBlue px-2"
    ></i>
  </span>
  <div
    class="sidebar fixed top-0 bottom-0 left-[-300px] h-screen w-[300px] overflow-y-auto bg-brightBlue p-2 text-center shadow duration-1000 lg:left-0"
  >
    <div class="text-xl text-gray-100">
      <div class="mt-1 flex items-center rounded-md bg-lightGray1 p-1 justify-between md:justify-start">
        <a href="/user/dashboard"><img
          class="w-40 cursor-pointer"
          src="../Images/logo.png"
          alt="Rehoniel Logo"
        /></a
        >
        
        <i
          class="bi bi-x ml-20 cursor-pointer text-3xl text-gold lg:hidden"
          onclick="Openbar()"
        ></i>
      </div>
      <hr class="my-2 text-gray-600" />

      <div class="mt-10">
        <a href="/user/dashboard"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-house-door-fill text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">Dashboard</span>
          </div></a
        >
        <div
          class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
        >
          <i class="bi bi-cash-coin text-gold"></i>
          <div
            class="flex w-full items-center justify-between"
            onclick="dropDown()"
          >
            <span class="ml-4 text-[15px] text-gray-200">Transactions</span>
            <i id="arrow" class="bi bi-caret-down-fill text-gold"></i>
          </div>
        </div>
        <div
          class="mx-auto mt-2 w-4/5 text-left text-sm font-thin leading-7"
          id="submenu"
        >
          <a href="/user/deposit">
            <h1
              class="mt-1 cursor-pointer rounded-md p-2 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
            >
              Deposit
            </h1></a
          >
          <a href="/user/invest">
            <h1
              class="mt-1 cursor-pointer rounded-md p-2 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
            >
              Invest
            </h1></a
          >
          <a href="/user/withdraw">
            <h1
              class="mt-1 cursor-pointer rounded-md p-2 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
            >
              Withdrawal
            </h1></a
          >
        </div>
        <a href="/user/plans"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-briefcase-fill text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">Plans</span>
          </div></a
        >
        <a href="/user/transactions"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-receipt text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">History</span>
          </div></a
        >
        <hr class="my-4 mb-10 text-gray-600" />
        <a href="/user/profile"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-person-check text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">My Profile</span>
          </div></a
        >
        <a href="/support"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-envelope-check-fill text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">Get Support</span>
          </div></a
        >
        <a href="/user/referral"
          ><div
            class="mt-2 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <i class="bi bi-people-fill text-gold"></i>
            <span class="ml-4 text-[15px] text-gray-200">My Referral</span>
          </div></a
        >
        <form action="/user/logout" method="post">
          <div
            class="mt-3 flex cursor-pointer items-center rounded-md p-2.5 px-4 duration-300 hover:border-r-8 hover:border-r-gold hover:bg-gray-700"
          >
            <button type="submit">
              <i class="bi bi-box-arrow-in-right text-gold"></i>
              <span class="ml-4 text-[15px] text-gray-200">Logout</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Translator -->
<div class="gtranslate_wrapper"></div>
<script>
  window.gtranslateSettings = {
    default_language: "en",
    detect_browser_language: true,
    wrapper_selector: ".gtranslate_wrapper",
    flag_style: "3d",
  };
</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = 'c05319217c1db0119c471761d79ed3bf9f92eef0';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
