<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <%- include("partials/SEO"); -%>
  </head>
  <body class="bg-darkNavy">
    <%- include("partials/nav"); -%>
    <section>
      <div class="flex flex-col items-center justify-center mt-20 bg-lightGray1 mx-auto pb-20">
        <div class="mt-10 px-10">
          <h1 class="text-lg sm:text-xl md:text-2xl text-darkBlue font-bold lg:text-3xl">
            Innovative, Trustworthy,
            <span class="text-gold"> Profitable, And Progressive.</span>
          </h1>
          <h4 class="text-darkBlue mt-4 text-xs sm:text-sm lg:text-base md:text-xl">
            Our team of experienced professionals combines traditional
            investment expertise with cutting-edge knowledge of the crypto
            market, to help investors maximize their returns while minimizing
            risk.
          </h4>
          <div id="who are we" class="mt-10">
            <div class="flex flex-row items-center space-x-4">
              <div class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-20 lg:h-20 rounded-lg p-2 backgroundGradient">
                <img src="../Images/man.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  Who Are We
                </h4>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-darkBlue text-xs sm:text-sm lg:text-base leading-loose">
                Rehoniel is a leading investment firm specializing
                in cryptocurrency investments. At Rehoniel, We
                believe that cryptocurrencies are the future of finance and that
                investing in them can provide significant long-term benefits.
                Our commitment to transparency and security means that investors
                can trust us to manage their investments with integrity and
                professionalism. With a strong track record of success and a
                deep understanding of the crypto landscape, Rehoniel
               is the go-to choice for anyone looking to invest in this
                exciting and rapidly evolving market.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-center space-x-4">
              <div class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-20 lg:w-20 lg:h-20  rounded-lg p-2 backgroundGradient">
                <img src="../Images/history.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  History
                </h4>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-darkBlue text-xs sm:text-sm lg:text-base leading-loose">
                Rehoniel was founded by a group of experienced
                professionals with a passion for the potential of
                cryptocurrencies. Since its inception, Rehoniel has been at
                the forefront of the crypto market, helping investors navigate
                the complex world of digital currencies and maximizing their
                returns. With a deep understanding of the technology and the
                market, Rehoniel has become a trusted name in the industry,
                known for its commitment to transparency and security.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-center space-x-4">
              <div class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-20 lg:h-20 rounded-lg p-2 backgroundGradient">
                <img src="../Images/culture.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  Culture
                </h4>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-darkBlue text-xs sm:text-sm lg:text-base leading-loose">
                At Rehoniel, our culture is focused on innovation,
                integrity, and the investors satisfaction. We prioritize staying
                up-to-date with the latest technological advancements and market
                trends, ensuring that our investors have access to the best
                investment opportunities in the crypto space. Transparency and
                accountability are also key aspects of our culture. We
                prioritize clear communication with our investors, providing
                regular updates and insights into their investments.
                Additionally, we place a strong emphasis on security, ensuring
                that our investors' funds are kept safe through rigorous
                protocols and best practices.
              </p>
            </div>
          </div>
        </div>
      </div>
      <section id="cta" class="bg-[#6564DB] bg-opacity-10">
        <div
          class="mx-auto flex flex-col items-center justify-around space-y-12 px-6 py-24 md:flex-row md:space-y-0 md:py-12"
        >
          <!-- Heading -->
          <h2
            class="text-center gradient-border font-bold leading-tight md:max-w-xl md:text-left text-lg sm:text-xl md:text-2xl lg:text-3xl"
          >
          Exclusively Tailored for  Seasoned Investors.
          </h2>
          <div>
            <a
              href="/user/create"
              class="rounded-lg bg-gold p-3 px-6 pt-3 text-darkNavy duration-500 hover:bg-darkNavy hover:text-lightGray"
              >Get Started</a
            >
          </div>
        </div>
      </section>
    </section>
    
    <%- include("partials/options"); -%>
    <!-- Footer -->
    <%- include("partials/footer"); -%>
    <script src="../JS/aboutUS.js"></script>
  </body>
</html>
