<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <%- include("partials/SEO"); -%>
  </head>
  <body class="bg-darkNavy">
    <%- include("partials/nav"); -%>
    <section>
      <div class="flex flex-col items-center justify-center mt-20 bg-lightGray1 mx-auto pb-20">
        <div class="mt-10 px-10">
          <h1 class="text-3xl text-darkBlue font-bold text-center md:text-5xl">
            Innovative, Trustworthy,
            <span class="text-gold"> Profitable, And Progressive.</span>
          </h1>
          <h4 class="text-darkBlue mt-4 font-bold text-center text-base md:text-xl">
            Our team of experienced professionals combines traditional
            investment expertise with cutting-edge knowledge of the crypto
            market, to help investors maximize their returns while minimizing
            risk.
          </h4>
          <div id="who are we" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/man.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  Who Are We
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                Rehoniel Limited is a leading investment firm specializing
                in cryptocurrency investments. At Rehoniel Limited, We
                believe that cryptocurrencies are the future of finance and that
                investing in them can provide significant long-term benefits.
                Our commitment to transparency and security means that investors
                can trust us to manage their investments with integrity and
                professionalism. With a strong track record of success and a
                deep understanding of the crypto landscape, Rehoniel
                Limited is the go-to choice for anyone looking to invest in this
                exciting and rapidly evolving market.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/history.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  History
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                Rehoniel Limited is a leading investment firm specializing
                in cryptocurrency investments. It was founded by a group of experienced
                professionals with a passion for the potential of
                cryptocurrencies. Since its inception, Rehoniel has been at
                the forefront of the crypto market, helping investors navigate
                the complex world of digital currencies and maximizing their
                returns. With a deep understanding of the technology and the
                market, Rehoniel has become a trusted name in the industry,
                known for its commitment to transparency and security.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/culture.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-gold mt-6 font-bold text-center text-xl md:text-2xl">
                  Culture
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                At Rehoniel Limited, our culture is focused on innovation,
                integrity, and the investors satisfaction. We prioritize staying
                up-to-date with the latest technological advancements and market
                trends, ensuring that our investors have access to the best
                investment opportunities in the crypto space. Transparency and
                accountability are also key aspects of our culture. We
                prioritize clear communication with our investors, providing
                regular updates and insights into their investments.
                Additionally, we place a strong emphasis on security, ensuring
                that our investors' funds are kept safe through rigorous
                protocols and best practices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("partials/options"); -%>
    <!-- Footer -->
    <%- include("partials/footer"); -%>
    <script src="../JS/aboutUS.js"></script>
  </body>
</html>
