<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Bonus</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../CSS/main.css" />
  <link rel="stylesheet" href="../../CSS/toast.css" />
  <!-- Custom JavaScript -->
  <script defer src="../../JS/dashboard.js"></script>
</head>

<body class="bg-darkGray main">
  <%- include("partials/adminSidebar"); -%>
  <%- include("partials/_alert"); -%>
  <section>
    <div class="flex flex-col justify-center items-center">
      <div class="mt-20 text-center">
        <h1 class="text-brightBlue font-bold text-2xl md:text-4xl">Add Bonus</h1>
        <h4 class="mt-2 text-darkBlue text-sm md:text-base">
          Add Bonus and Direct Deposit to Any User Of Your Choice. </h4>
      </div>
    </div>
    <form action="/user/admin/bonus" method="post">
      <div class="flex flex-col justify-center items-center">
        <div class="border-2 custom-select mt-20 border-brightBlue rounded-xl w-80 md:w-96">
          <select name="action">
            <option value="">Select What You Want To Do</option>
            <option value="bonus" selected>Add Bonus</option>
            <option value="deposit">Direct Deposit</option>
          </select>
        </div>
        <div class="mt-10">
          <h4 class="text-center text-darkBlue text-sm md:text-base">
            Enter The Email Address Of The User
          </h4>
          <input class="border-2 mt-2 px-8 py-3 border-brightBlue rounded-xl w-80 md:w-96 placeholder:text-center placeholder:text-sm" type="email" name="email" id="userEmail" placeholder="Enter The Email Address" />
        </div>
        <div class="mt-10">
          <h4 class="text-center text-darkBlue text-sm md:text-base">
            Enter The Amount You Want To Add
          </h4>
          <input class="border-2 mt-2 px-8 py-3 border-brightBlue rounded-xl w-80 md:w-96 placeholder:text-center placeholder:text-sm" type="number" name="amount" id="amount" placeholder="Enter The Amount" />
        </div>

        <div class="">
          <button type="submit" class="bg-brightBlue flex justify-center items-center border-2 hover:bg-lightGray1 disabled:opacity-50 mt-10 py-3 border-brightBlue rounded-xl w-80 md:w-96 text-lightGray hover:text-darkBlue duration-700 disabled:cursor-not-allowed load">
            Add <ion-icon class="ml-1 text-3xl" name="add-circle-outline"></ion-icon>
          </button>
        </div>
      </div>
    </form>
  </section>
  <%- include ("partials/script"); -%>
  <script src="../../JS/collapsible.js"></script>
  <script src="../../JS/deposit.js"></script>
</body>

</html>