<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <%- include("partials/SEO"); -%>
</head>

<body class="bg-brightBlue">
  <section id="main-section">
    <% if(status==='success' ){ %>
      <div class="flex w-full items-center justify-center">
        <div
          id="overlay"
          class="overlay fixed inset-0 z-20 bg-black bg-opacity-70"
        ></div>

        <div
          id="successPopup"
          class="fixed top-[30%] z-30 w-[20rem] rounded bg-white p-6 shadow-lg"
        >
          <span
            id="closePopupBtn"
            onclick="closePopupBtnClick()"
            class="absolute top-2 right-2 cursor-pointer text-2xl text-gray-500"
            >&times;</span
          >
          <img class="mx-auto" src="../Images/correct.svg" alt="Correct Icon" />
          <h2 class="mt-2 text-center text-2xl font-semibold text-green-500">
            Success!
          </h2>
          <p class="mt-8 text-center text-sm capitalize text-gray-800">
            Please check your email for a link to reset your password
          </p>
        </div>
      </div>
      <% } else if (status==='fail' ){%>
        <div class="flex w-full items-center justify-center">
          <div
            id="failureOverlay"
            class="overlay fixed inset-0 z-20 bg-black bg-opacity-70"
          ></div>
  
          <div
            id="failurePopup"
            class="fixed top-[30%] z-30 w-[20rem] rounded bg-white p-6 shadow-lg"
          >
            <span
              onclick="failureClosePopupBtnClick()"
              class="absolute top-2 right-2 cursor-pointer text-2xl text-gray-500"
              >&times;</span
            >
            <img
              class="mx-auto w-20"
              src="../Images/wrong.png"
              alt="Wrong Icon"
            />
            <h2 class="mt-2 text-center text-2xl font-semibold text-red-500">
              Failure!
            </h2>
            <p class="mt-8 text-center text-sm capitalize text-gray-800">
              Failed! Please check the email address for case sensitivity. If the issue continues, contact us. </p>
          </div>
        </div>
        <% }%>
          <div class="flex flex-col items-center h-screen w-screen justify-center">
            <div
              class=" w-96 h-2/4 bg-white istGlass bg-opacity-20 border border-[#6564DB] text-center rounded-lg shadow-2xl ease-in-out duration-500 hover:shadow-none">
              <div class="bg-white p-2 rounded-lg w-40 mx-auto mt-4">
                <a href="/"><img class="w-40 mx-auto " src="../Images/logo.png" alt="Rehoniel Logo" /></a> 
              </div>
              <h1 class="text-3xl font-extrabold mt-4 text-lightGray1">Forgot Password</h1>
              <form action="/user/forgot-password" method="post">
                <p class="mt-14">
                  <input
                    class="bg-darkWhite border-primaryBlue border-solid border-2 ml-1 py-3 px-6 w-80 rounded-lg placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkBlue"
                    type="email" id="email" name="email" placeholder="Enter Your Email Address" required />
                </p>
                <p class="mt-8"> <button type="submit"
                    class="py-3 w-80 duration-500 border-2 border-lightGray1 rounded-lg hover:bg-lightGray1 hover:text-darkBlue text-lightGray">Get
                    Password</button></p>
              </form>
              <p class="mt-6 space-x-16"> <a class="text-sm hover:text-darkBlue text-gold duration-500"
                  href="/user/login">Login</a> <a class="text-sm hover:text-darkBlue text-gold duration-500" href="/">Home</a>
              </p>
            </div>
          </div>
  </section>
  <canvas class="background absolute top-0 left-0 right-0 bottom-0 -z-10"></canvas>
  <script src="../JS/particles.min.js"></script>
  <script src="../JS/form.js"></script>
  <!-- Translator -->
  <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
<!-- For the popups -->
<script>
  const successPopup = document.getElementById("successPopup");
  const overlay = document.getElementById("overlay");

  const closePopupBtnClick = () => {
    successPopup.classList.add("hidden");
    overlay.classList.add("hidden");
  };

  const failurePopup = document.getElementById("failurePopup");
  const failureOverlay = document.getElementById("failureOverlay");

  const failureClosePopupBtnClick = () => {
    failurePopup.classList.add("hidden");
    failureOverlay.classList.add("hidden");
  };
</script>
</body>

</html>