<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <%- include("partials/SEO"); -%>
</head>

<body class="bg-brightBlue">
  <%- include("partials/_alert"); -%>
  <section id="main-section" class="flex justify-center items-center h-dvh">
    <div class="mx-auto p-4 md:p-6 xl:p-8 border border-[#6564DB] rounded-lg sm:w-[70%] md:w-[60%] lg:w-[50%] 2xl:w-[30%] xl:w-[40%] min-w-[20rem] text-center istGlass">
      <a href="/"><img class="mx-auto w-12 md:w-16 xl:w-20" src="../Images/logo1.png" alt="Logo" /></a>
      <h1 class="mt-4 font-extrabold text-lightGray1 text-xl sm:text-2xl md:text-2xl xl:text-4xl">Forgot Password</h1>
      <form action="/user/forgot-password" method="post">
        <p class="mt-14">
          <input class="bg-white px-6 py-3 border-2 border-primaryBlue border-solid rounded-lg focus:outline-darkBlue w-full caret-darkBlue" type="email" id="email" name="email" placeholder="Email Address" required />
        </p>
        <button type="submit" class="hover:bg-lightGray1 mt-10 py-3 border-2 border-lightGray1 rounded-lg w-full text-lightGray hover:text-darkBlue duration-500">Get
          Password</button>
      </form>
      <div class="flex justify-between items-center mt-6">
        <a class="text-gold hover:text-lightGray1 duration-500" href="/user/login">Login</a>
        <a class="text-gold hover:text-lightGray1 duration-500" href="/">Home</a>
      </div>
  </section>
  <canvas class="top-0 right-0 bottom-0 left-0 -z-10 absolute background"></canvas>
  <script src="../JS/particles.min.js"></script>
  <script src="../JS/form.js"></script>
  <!-- Translator -->
  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      "default_language": "en",
      "detect_browser_language": true,
      "wrapper_selector": ".gtranslate_wrapper",
      "flag_style": "3d"
    }
  </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
  <%- include("partials/script.ejs"); -%>
</body>

</html>