<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <!-- Favicon -->
    <link
    rel="shortcut icon"
    href="../Images/logo.ico"
    type="image/x-ico"
  />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
       <!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Custom JavaScript -->
    <script defer src="../JS/dashboard.js"></script>
      <!-- Jivo Chat -->
      <script src="//code.jivosite.com/widget/DzC9jELjbC" async></script>
  </head>
  <body class="bg-darkGray main">
    <%- include ("partials/sidebar"); -%>
    <section>
      <div class="px-8 py-4">
        <div class="mt-20">
          <h1 class="text-xl sm:text-2xl md:text-3xl font-bold lg:text-4xl text-[#CC9E06]">
            Contact Us
          </h1>
        </div>
        <div class="bg-white border border-[#9EA0A3] mt-10 p-4 w-[80%] sm:w-[70%] md:w-[60%] rounded-lg">
          <h4 class="text-xs text-darkBlue md:text-base font-bold">
            Contact Us For Any Issues Regarding Your Account.
          </h4>
          <form class="" action="mailto:support@rehoniel.org" method="post" enctype="text/plain">
            <p  class="mt-8">Email Address</p>
            <input
              class="mt-2 w-full rounded-lg border border-[#9EA0A3] px-8 py-2 placeholder:text-sm focus:outline focus:outline-gold caret-darkBlue"
              type="email"
              name="email"
              id="email"
              placeholder="Enter Your Email Address"
              required
            />
            <p class="mt-8">Subject</p>
            <input class="mt-2 w-full rounded-lg border border-[#9EA0A3] px-8 py-2 placeholder:text-sm focus:outline focus:outline-gold caret-darkBlue" type="text"
            name="subject" id="subject" placeholder="Enter Your Subject" required/>
            <p class="mt-8">Message</p>
            <textarea
            required
              name="message"
              id="message"
              placeholder="What would you like to say?"
              class="h-32 mt-2 w-full rounded-lg border border-[#9EA0A3] px-8 py-2 placeholder:text-sm focus:outline focus:outline-gold caret-darkBlue"
            ></textarea >
            <div class="mt-14 flex justify-end">
              <input
              type="submit"
                class="rounded-lg px-5 sm:px-7 md:px-9 text-sm sm:text-base bg-brightBlue py-3 text-lightGray1 duration-500 hover:bg-lightGray1 hover:text-darkBlue disabled:cursor-not-allowed disabled:opacity-50"
              value =Send />
            </div>
              
          </form>
        </div>
      </div>
    </section>
    <%- include ("partials/script"); -%>
  </body>
</html>
