<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Help</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
</head>

<body class="bg-darkGray main">
  <%- include ("partials/sidebar"); -%>
  <%- include("partials/_alert"); -%>
  <section>
    <div class="px-8 py-4">
      <div class="mt-20">
        <h1 class="font-bold text-[#CC9E06] text-xl sm:text-2xl md:text-3xl lg:text-4xl">
          Contact Us
        </h1>
      </div>
      <div class="border-[#9EA0A3] bg-white mt-10 p-4 border rounded-lg w-[90%] sm:w-[80%] md:w-[70%]">
        <h4 class="font-bold text-darkBlue text-xs md:text-base">
          Contact Us For Any Issues Regarding Your Account.
        </h4>
        <form class="" action="/support" method="post">
          <p class="mt-8">Email Address</p>
          <input class="border-[#9EA0A3] mt-2 px-8 py-2 border rounded-lg w-full placeholder:text-sm caret-darkBlue focus:outline focus:outline-gold" type="email" name="email" id="email" placeholder="Email Address" required />
          <p class="mt-8">Subject</p>
          <input class="border-[#9EA0A3] mt-2 px-8 py-2 border rounded-lg w-full placeholder:text-sm caret-darkBlue focus:outline focus:outline-gold" type="text" name="subject" id="subject" placeholder="The Subject" required />
          <p class="mt-8">Message</p>
          <textarea required name="message" id="message" placeholder="Your Message" class="border-[#9EA0A3] mt-2 px-8 py-2 border rounded-lg w-full h-32 placeholder:text-sm caret-darkBlue focus:outline focus:outline-gold"></textarea>
          <div class="flex justify-end mt-14">
            <input type="submit" class="bg-brightBlue hover:bg-lightGray1 disabled:opacity-50 px-10 sm:px-7 md:px-9 py-3 rounded-lg text-lightGray1 text-sm sm:text-base hover:text-darkBlue duration-500 cursor-pointer disabled:cursor-not-allowed" value=Send />
          </div>

        </form>
      </div>
    </div>
  </section>
  <!-- For the popups -->
  <script>
    const successPopup = document.getElementById("successPopup");
    const overlay = document.getElementById("overlay");

    const closePopupBtnClick = () => {
      successPopup.classList.add("hidden");
      overlay.classList.add("hidden");
    };

    const failurePopup = document.getElementById("failurePopup");
    const failureOverlay = document.getElementById("failureOverlay");

    const failureClosePopupBtnClick = () => {
      failurePopup.classList.add("hidden");
      failureOverlay.classList.add("hidden");
    };
  </script>
  <%- include ("partials/script"); -%>
</body>

</html>