<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Realmforte</title>
  <!-- Swiper.js -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <!-- Charts -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <%- include("partials/SEO"); -%>
</head>

<body class="bg-darkNavy">
  <%- include("partials/nav"); -%>
  <!-- Top Section -->
  <section id="top">
    <div class="flex md:flex-row flex-col items-center mx-auto mt-20 px-6 container">
      <div class="flex flex-col space-y-4 md:mt-4 mb-20 md:mb-32 md:w-[60%]">
        <h1 class="gradient-border font-black text-2xl text-left sm:text-3xl md:text-4xl lg:text-5xl">
          <span class="auto-type"></span> <br />
          Your Cryptocurrency Investments.
        </h1>
        <div class="py-4 md:w-4/5">
          <div class="flex items-center mt-4">
            <span class="bg-gold mr-2 rounded-[50%] w-3 h-3"></span>
            <p class="mt-1 text-lightGray1 text-xs sm:text-[0.9rem] lg:text-base">
              Flexible Saving, Trading Plans And Packages.
            </p>
          </div>
        </div>
        <div class="flex justify-start">
          <a href="/user/create" class="border-2 border-gold bg-gold hover:bg-darkNavy py-3 rounded-lg w-40 lg:w-52 font-semibold text-black text-center hover:text-lightGray duration-500">Get Started</a>
        </div>
      </div>
      <!-- Top Image -->
      <div class="relative flex justify-end md:w-[40%] h-[40rem]">
        <img src="../Images/heroImg.svg" alt="Realmforte Image" />
        <img class="top-2 left-0 absolute bounceAnimation" src="../Images/istCoin.svg" alt="Realmforte Image" />
        <img class="top-6 left-[10rem] absolute bounceAnimation1" src="../Images/2ndCoin.svg" alt="Realmforte Image" />
        <img class="sm:block top-0 left-[16rem] absolute hidden bounceAnimation" src="../Images/3rdCoin.svg" alt="Realmforte Image" />
        <img class="sm:block lg:block top-4 left-[24rem] absolute hidden md:hidden bounceAnimation1" src="../Images/4thCoin.svg" alt="Realmforte Image" />
        <img class="top-0 left-[10rem] absolute moveAnimation" src="../Images/cloud.svg" alt="Realmforte Image" />
        <img class="sm:block lg:block top-[12rem] left-[24rem] absolute hidden md:hidden moveAnimation1" src="../Images/cloud1.svg" alt="Realmforte Image" />
        <img class="top-[14rem] left-[10rem] sm:left-[16rem] absolute w-20 bounceAnimation1" src="../Images/ethereum.svg" alt="Realmforte Image" />
      </div>
    </div>
  </section>
  <section id="second">
    <div class="bg-white bg-opacity-10 mx-auto mb-10 py-4 rounded-md w-[90%] sm:w-4/5 lg:w-[70%] h-32 text-center text-lightGray1 istGlass">
      <h1 class="font-bold text-base sm:text-xl md:text-2xl lg:text-3xl">
        One Platform For All Your Cryptocurrency Investment Needs
      </h1>
      <p class="mt-4 text-xs sm:text-sm md:text-base">
        Unlocking the advantages of trading with Realmforte.
      </p>
    </div>
    <div class="px-6 sm:px-10 md:px-20">
      <div class="flex lg:flex-row flex-col lg:justify-between items-center mt-16 md:mt-32 lg:ml-20 pb-20">
        <div class="w-full lg:w-1/2 h-[24rem]">
          <div class="flex justify-end space-x-4 h-[50%] overflow-hidden second">
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-layer-group fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Wide Investment Range
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  Emphasizing the wide range of investment options available
                  on the platform, investors can explore and diversify their
                  portfolio across various cryptocurrencies.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-eye fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Transparent Investment
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  Transparency is a core principle of our platform. With clear
                  and open reporting on investment performance and real-time
                  data.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-cogs fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Innovative Tools
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  Through advanced analytics, predictive models, and
                  cutting-edge trading algorithms, investors can stay ahead of
                  the curve and make smarter investment choices.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-hands-helping fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Dedicated Support
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  We offer personalized assistance to guide investors
                  throughout their investment journey, ensuring they receive
                  the necessary help and support at every step.
                </p>
              </div>
            </div>
          </div>
          <div class="flex space-x-4 h-[50%] overflow-hidden">
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass reverse">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-exchange-alt fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  High Liquidity
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  High liquidity is a hallmark of our platform. Investors can
                  enjoy quick and efficient transactions, enabling them to
                  enter and exit positions with ease and flexibility.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass reverse">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-dollar-sign fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Competitive Fees
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  With transparent fee structures and low/no transaction
                  costs, investors can optimize their returns and keep more of
                  their earnings.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass reverse">
              <div class="p-3">
                <i class="fa-desktop text-xl sm:text-2xl md:text-3xl lg:text-4xl fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  User-friendly Interface
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  Navigating the platform and executing trades is a seamless
                  experience. Our user-friendly interface is designed to make
                  the investment process easy and straightforward.
                </p>
              </div>
            </div>
            <div class="border-[#6564DB] bg-white bg-opacity-10 border rounded-md min-w-[80%] h-[90%] animated-div istGlass reverse">
              <div class="p-3">
                <i class="text-xl sm:text-2xl md:text-3xl lg:text-4xl fa-shield-alt fas gradient"></i>
                <p class="font-bold text-base text-gold sm:text-lg md:text-xl lg:text-2xl">
                  Security Measure
                </p>
                <p class="mt-2 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
                  With robust and multi-layered security measures, we ensure
                  that our users' assets are protected from potential threats
                  and unauthorized access, allowing them to invest with peace
                  of mind.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 lg:mt-0 lg:w-[40%] text-lightGray1">
          <h1 class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl">
            Explore the Advantages of Investing With
            <span class="text-gold">Realmforte.</span>
          </h1>
          <p class="mt-10 text-xs sm:text-sm lg:text-base">
            The platform offers diverse investments with transparency,
            innovative tools, and a supportive team for liquidity and
            competitive fees. A secure, user-friendly interface ensures
            confident investing.
          </p>
          <button class="border-2 border-gold bg-gold hover:bg-inherit mt-10 py-3 rounded-lg w-40 text-black hover:text-gold duration-500">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="whoAreWe" class="bg-lightGray1">
    <div class="flex md:flex-row flex-col md:justify-between items-center md:mx-auto px-6 py-[8rem] container">
      <div class="md:w-[49%] hide">
        <h3 class="border-gold py-2 gradient-border border-b-2 w-[10rem] font-bold text-base sm:text-lg md:text-xl lg:text-2xl">
          WHO WE ARE
        </h3>
        <h1 class="my-8 font-bold text-darkBlue text-lg sm:text-xl md:text-2xl lg:text-3xl">
          What is
          <span class="text-gold">Realmforte?</span>
        </h1>
        <p class="md:mb-20 text-darkBlue text-xs sm:text-sm md:text-base">
          Realmforte stands as an innovative cryptocurrency investment company,
          catering to our investors' diverse needs by offering a comprehensive
          selection of investment choices. Acknowledging the dynamic
          cryptocurrency landscape, we persistently research and explore new
          opportunities to stay ahead and ensure our investors receive the
          best prospects.
        </p>
        <div class="my-10">
          <a href="/aboutUs" class="border-2 border-gold bg-inherit hover:bg-gold px-8 py-3 rounded-lg text-gold hover:text-black duration-500">Read More</a>
        </div>
      </div>
      <div class="mt-10 md:mt-0 p-2 rounded-lg md:w-[49%] backgroundGradient hide">
        <img class="w-full" src="../Images/DC.jpg" alt="Why choose us?" />
      </div>
    </div>
  </section>
  <section id="map" class="bg-lightGray1">
    <div class="mx-auto container">
      <div class="flex md:flex-row flex-col-reverse md:justify-between items-center md:space-y-0 md:px-0 p-6 hide">
        <div class="mt-10 md:mt-0 md:w-[49%]">
          <img src="../Images/Map.png" alt="Deluxecapital customer distribution chart" />
        </div>
        <div class="md:w-[49%]">
          <h1 class="font-bold text-darkBlue text-lg sm:text-xl md:text-2xl lg:text-3xl">
            <span class="text-gold">Realmforte</span> is trusted by 3million+ users
            in 140+ countries.
          </h1>
          <p class="mt-4 text-darkBlue text-sm md:text-base">
            Our Company has a significant global presence, with over three million
            investors in various regions of the world.
          </p>
          <div class="my-10 hide">
            <a href="/user/create" class="border-2 border-gold bg-gold hover:bg-inherit px-8 py-3 rounded-lg text-black hover:text-gold duration-500">Get Started</a>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="howToGetStarted" class="mx-auto container">
    <div class="p-4 pt-10 hide">
      <h1 class="mt-10 font-bold text-lg text-lightGray1 sm:text-xl md:text-2xl lg:text-3xl">
        Key strategies for <br />
        achieving profitability
      </h1>
      <h1 class="mt-3 text-lightGray1 text-xs sm:text-sm lg:text-base">
        Discover the four-step process that enables our investors to <br />
        maintain profitability with our organization.
      </h1>
    </div>
    <div class="flex md:flex-row flex-col flex-wrap md:justify-between items-center space-y-8 mt-10 mb-20 p-4">
      <div id="card1" class="relative border-[#6564DB] bg-white bg-opacity-10 md:mt-8 md:ml-0 p-4 border rounded-lg w-60 h-60 duration-500 overflow-visible card ease-out hide istGlass">
        <div class="">
          <i class="fa-2x fa-user-check fas gradient me"></i>
          <p class="mt-5 text-body text-gold text-lg">Create An Account</p>
          <p class="mt-5 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
            Creating an account grants you investor status and privileges.
          </p>
        </div>
        <a href="/user/create"><button class="bottom-0 left-1/2 absolute border-0 bg-paleGreen opacity-0 p-0.5 rounded-lg w-3/5 font-semibold -translate-x-2/4 translate-y-[125%] duration-500 card-button ease-out">
            Create
          </button></a>
      </div>
      <div id="card2" class="relative border-[#6564DB] bg-white bg-opacity-10 md:ml-8 p-4 border rounded-lg w-60 h-60 duration-500 overflow-visible card ease-out hide istGlass">
        <div class="">
          <i class="fa-2x fa-hand-holding-usd fas gradient me"></i>
          <p class="mt-5 text-body text-gold text-lg">Invest</p>
          <p class="mt-5 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
            Investing results in a financial gain, which is withdrawable at
            any given time.
          </p>
        </div>
        <a href="/user/create"><button class="bottom-0 left-1/2 absolute border-0 bg-paleGreen opacity-0 p-0.5 rounded-lg w-3/5 font-semibold -translate-x-2/4 translate-y-[125%] duration-500 card-button ease-out">
            Invest
          </button></a>
      </div>
      <div id="card3" class="relative border-[#6564DB] bg-white bg-opacity-10 md:ml-8 p-4 border rounded-lg w-60 h-60 duration-500 overflow-visible card ease-out hide istGlass">
        <div class="">
          <i class="fa-2x fa-wallet fas gradient me"></i>
          <p class="mt-5 text-body text-gold text-lg">Withdraw</p>
          <p class="mt-5 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
            Transfer funds from your account to your preferred method of
            disbursement at any time.
          </p>
        </div>
        <a href="/user/create"><button class="bottom-0 left-1/2 absolute border-0 bg-paleGreen opacity-0 p-0.5 rounded-lg w-3/5 font-semibold -translate-x-2/4 translate-y-[125%] duration-500 card-button ease-out">
            Withdraw
          </button></a>
      </div>
      <div id="card4" class="relative border-[#6564DB] bg-white bg-opacity-10 p-4 border rounded-lg w-60 h-60 duration-500 overflow-visible card ease-out hide istGlass">
        <div class="">
          <i class="fa-2x fa-donate fas gradient me"></i>
          <p class="mt-5 text-body text-gold text-lg">Re-Invest</p>
          <p class="mt-5 text-[0.65rem] text-lightGray1 sm:text-xs md:text-sm">
            Keep reinvesting to sustain growth and generate additional
            revenue.
          </p>
        </div>
        <a href="/user/create"><button class="bottom-0 left-1/2 absolute border-0 bg-paleGreen opacity-0 p-0.5 rounded-lg w-3/5 font-semibold -translate-x-2/4 translate-y-[125%] duration-500 card-button ease-out">
            Reinvest
          </button></a>
      </div>
    </div>
  </section>
  <section id="currency">
    <div class="mx-auto px-6 py-6 container">
      <h1 class="mt-10 font-bold text-lg text-lightGray1 sm:text-xl md:text-2xl lg:text-3xl hide">
        Accepted Deposit Methods.
      </h1>
      <p class="mt-2 text-lightGray1 text-xs sm:text-sm md:text-base capitalize hide">
        Explore Secure and Convenient Options for Deposits.
      </p>
      <div class="flex md:flex-row flex-col justify-center md:justify-between items-center">
        <div class="md:w-1/2 hide">
          <p class="mt-8 md:mt-0 text-lightGray1 text-xs sm:text-sm md:text-base">
            Realmforte proudly accepts both Bitcoin (BTC), Ethereum (ETH), as
            acceptable forms of deposit methods. <br />
            <br />
            <span class="font-bold text-gold text-lg">"</span>Our commitment
            to providing a seamless investment experience extends to embracing
            cutting-edge payment methods, ensuring convenience and security
            for our valued clients. Explore a world of financial opportunities
            with Realmforte, where your preferred currency is at the heart of
            our investment offerings.<span class="font-bold text-gold text-lg">"</span>
          </p>
          <div class="border-[#6564DB] bg-white bg-opacity-10 mt-16 p-4 border rounded-tl-md rounded-bl-xl rounded-br-xl w-[20rem] sm:w-[24rem] md:w-[20rem] lg:w-[24rem] h-24 istGlass">
            <div>
              <p class="font-bold text-gold">Alexander Williams</p>
              <p class="text-lightGray1 text-xs lg:text-sm">
                Head of Payment Services Department
              </p>
              <p class="text-right text-[0.6rem] text-gold">7th July 2020</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-end py-6 md:w-1/2 hide">
          <div class="">
            <img class="w-[17rem] animation" src="../Images/btc.png" alt="Ethereum Coin" />
          </div>
          <div class="">
            <img class="w-[17rem] animation" src="../Images/ethereumImg2.png" alt="Ethereum Coin" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonial">
    <div class="relative flex flex-col justify-center items-center mt-10 p-6 h-full overflow-hidden hide">
      <div class="mt-10 text-lightGray1 container">
        <h3 class="border-gold my-4 py-2 gradient-border border-b-2 w-[10rem] font-bold text-base sm:text-lg md:text-xl lg:text-2xl">Testimonials</h3>
        <h1 class="my-4 font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl">
          Some Of Our Investors' <br> Reviews.
        </h1>
        <p class="w-96 text-xs sm:text-sm lg:text-base">
          Our clients valuable feedback.
        </p>
      </div>
      <div class="mySwiper swiper">
        <div class="swiper-wrapper">
          <div class="bg-white hover:shadow-2xl rounded-lg duration-500 ease-in-out swiper-slide">
            <div class="flex flex-col items-center p-6">
              <img class="-mt-14 w-24" src="../Images/testimonial1.png" alt="Image" />
              <h5 class="font-bold text-gold text-lg">Noah Miller</h5>
              <p class="font-light text-darkNavy text-sm">
                Tech Entrepreneur
              </p>
              <p class="mt-0 p-4 text-[10px] text-center xl:text-sm md:text-xs">
                The ability to access the cryptocurrency market with confidence, while also growing my traditional investments, has been incredibly valuable. This is the future of personalized finance.
              </p>
            </div>
          </div>
          <div class="bg-white hover:shadow-2xl rounded-lg duration-500 ease-in-out swiper-slide">
            <div class="flex flex-col items-center p-6">
              <img class="-mt-14 w-24" src="../Images/testimonial2.png" alt="Image" />
              <h5 class="font-bold text-gold text-lg">Emma Johnson</h5>
              <p class="font-light text-darkNavy text-sm">
                Human Resources Manager
              </p>
              <p class="mt-0 p-4 text-[10px] text-center xl:text-sm md:text-xs">
                The best user-friendly platform and cutting-edge technology, making cryptocurrency investing accessible to everyone.
              </p>
            </div>
          </div>
          <div class="bg-white hover:shadow-2xl rounded-lg duration-500 ease-in-out swiper-slide">
            <div class="flex flex-col items-center p-6">
              <img class="-mt-14 w-24" src="../Images/testimonial3.png" alt="Image" />
              <h5 class="font-bold text-gold text-lg">Liam Brown</h5>
              <p class="font-light text-darkNavy text-sm">
                Business Development Manager
              </p>
              <p class="mt-0 p-4 text-[10px] text-center xl:text-sm md:text-xs">
                It's important to choose a trustworthy and transparent company when investing in cryptocurrency. This is crucial for achieving financial freedom.
            </div>
          </div>
          <div class="bg-white hover:shadow-2xl rounded-lg duration-500 ease-in-out swiper-slide">
            <div class="flex flex-col items-center p-6">
              <img class="-mt-14 w-24" src="../Images/testimonial4.png" alt="Image" />
              <h5 class="font-bold text-gold text-lg">Ethan Davis</h5>
              <p class="font-light text-darkNavy text-sm">
                Operations Manager
              </p>
              <p class="mt-0 p-4 text-[10px] text-center xl:text-sm md:text-xs">
                This platform has made investing easy and fun. I'm impressed by how quickly and efficiently the customer support team responds to my questions.
              </p>
            </div>
          </div>
          <div class="bg-white hover:shadow-2xl rounded-lg duration-500 ease-in-out swiper-slide">
            <div class="flex flex-col items-center p-6">
              <img class="-mt-14 w-24" src="../Images/testimonial5.png" alt="Image" />
              <h5 class="font-bold text-gold text-lg">Olivia Smith</h5>
              <p class="font-light text-darkNavy text-sm">
                Virtual Personal Assistant
              </p>
              <p class="mt-0 p-4 text-[10px] text-center xl:text-sm md:text-xs">
                I appreciate the intuitive design, effective strategies, and prompt payments of this investment platform.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section id="price-section">
    <div class="bg-[url('../Images/bg1.png')] mt-10 p-6 hide">
      <div class="cryptohopper-web-widget" data-id="1" data-chart_color="#0f2331" data-table_title="Crypto Market " data-numcoins="100" data-realtime="on" data-currency="GBP" data-table_length="10"></div>
    </div>
  </section>
  <section id="where to buy cryptocurrency">
    <div class="relative flex md:flex-row flex-col flex-wrap justify-evenly items-center md:space-x-0 space-y-10 mt-10 py-10 text-center hide">
      <img class="top-0 right-0 absolute opacity-10 w-80" src="../Images/scribble-deluxe.png" alt="Realmforte Scribble" />
      <div>
        <img class="w-[30rem]" src="../Images/phone.png" alt="Realmforte Staff Image" />
      </div>
      <div>
        <h1 class="mt-10 font-bold text-3xl text-gold md:text-5xl">
          Where to Buy Cryptocurrency?
        </h1>
        <p class="mt-4 mb-20 text-lightGray text-sm md:text-base">
          Discover Trusted Platforms for Safe and Secure Transactions.
        </p>
        <div class="flex md:flex-row flex-col justify-evenly space-y-6 md:space-y-0">
          <div class="text-center">
            <h2 class="font-bold text-lightGray">Buy From Binance</h2>
            <a href="https://www.binance.com" target="_blank">
              <button class="border-2 border-gold mt-4 text-gold buy-button">Binance.com</button></a>
          </div>
          <div class="text-center">
            <h2 class="font-bold text-lightGray">Buy From Coinbase</h2>
            <a href="https://www.coinbase.com" target="_blank"><button class="border-2 border-gold mt-4 text-gold buy-button">Coinbase.com</button>
            </a>
          </div>
          <div class="text-center">
            <h2 class="font-bold text-lightGray">Buy From Crypto</h2>
            <a href="https://www.crypto.com" target="_blank">
              <button class="border-2 border-gold mt-4 text-gold buy-button">Crypto.com</button></a>
          </div>
          <div class="text-center">
            <h2 class="font-bold text-lightGray">Buy From Trust Wallet</h2>
            <a href="https://www.trustwallet.com" target="_blank">
              <button class="border-2 border-gold mt-4 text-gold buy-button">Trustwallet.com</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="cta" class="bg-[#6564DB] bg-opacity-10">
    <div class="flex md:flex-row flex-col justify-around items-center space-y-12 md:space-y-0 mx-auto mt-10 px-6 py-24 md:py-12 hide">
      <!-- Heading -->
      <h2 class="gradient-border md:max-w-xl font-bold text-center text-lg sm:text-xl md:text-left md:text-2xl lg:text-3xl leading-tight">
        Exclusively Tailored for Seasoned Investors.
      </h2>
      <div>
        <a href="/user/create" class="bg-gold hover:bg-darkNavy px-6 p-3 pt-3 rounded-lg text-darkNavy hover:text-lightGray duration-500">Get Started</a>
      </div>
    </div>
  </section>
  <%- include("partials/options"); -%> <%- include("partials/footer"); -%>

  <!-- Typed JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <!-- Swiper.js -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <!-- Price JS Link -->
  <script src="https://www.cryptohopper.com/widgets/js/script"></script>
  <!-- Custom JS -->
  <script src="../JS/index.js"></script>
</body>

</html>