<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <%- include("partials/SEO"); -%>
</head>

<body class="bg-brightBlue text-xs md:text-sm xl:text-base">
  <%- include("partials/_alert"); -%>
  <section id="main-section">
    <div class="flex justify-center items-center h-dvh">
      <div class="border-[#6564DB] mx-auto p-4 md:p-6 xl:p-8 border rounded-lg sm:w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%] 2xl:w-[30%] min-w-[20rem] text-center istGlass">
        <div class="bg-white mx-auto mt-4 p-2 rounded-lg w-24 md:w-32 xl:w-40">
          <a href="/"><img class="mx-auto w-6 md:w-8 xl:w-10" src="../Images/logo1.png" alt="Logo" /></a>
        </div>

        <h1 class="mt-4 font-extrabold text-lightGray1 text-xl sm:text-2xl md:text-2xl xl:text-4xl">Login</h1>
        <p class="mt-2 text-gold">Welcome Back</p>

        <form action="/user/login" method="post" id="login">
          <div class="mt-10">
            <input class="bg-white caret-darkBlue focus:outline-darkBlue border-2 border-primaryBlue ml-1 px-6 py-3 border-solid rounded-lg w-full" type="email" id="email" name="email" placeholder="Email Address" required />
          </div>

          <div class="relative mt-4">
            <input class="bg-white caret-darkBlue focus:outline-darkBlue border-2 border-primaryBlue ml-1 px-6 py-3 border-solid rounded-lg w-full" type="password" id="myPassword" name="password" placeholder="Password" required />
            <i class="top-[25%] right-2 absolute text-lg fa-eye fas" id="eye" onclick="myFunction()"></i>
          </div>

          <div class="mt-10 text-sm md:text-base xl:text-lg">
            <button type="submit" class="flex justify-center items-center border-2 border-gold hover:bg-inherit py-3 hover:border-lightGray1 rounded-lg w-full text-gold hover:text-lightGray duration-500">Login <ion-icon class="ml-4 text-lg md:text-xl xl:text-2xl" name="finger-print"></ion-icon></button>
          </div>

          <div class="flex justify-between mt-10">
            <a class="text-gold hover:text-white duration-300" href="/user/forgot-password">Forgot Password</a>
            <a class="text-gold hover:text-white duration-300" href="/user/create">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </section>
  <canvas class="top-0 right-0 bottom-0 left-0 -z-10 absolute background"></canvas>
  <!-- Iconic Icon Scripts -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../JS/particles.min.js"></script>
  <script src="../JS/form.js"></script>
  <!-- Translator -->
  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      "default_language": "en",
      "detect_browser_language": true,
      "wrapper_selector": ".gtranslate_wrapper",
      "flag_style": "3d"
    }
  </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
</body>

</html>