<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polices and Legal</title>
    <%- include("partials/SEO"); -%>
  </head>
  <body class="bg-darkNavy">
    <!-- Nav Bar -->
    <%- include("partials/nav"); -%>
    <section>
      <div class="p-4 md:p-10 lg:p-20 bg-darkGray">
      <div class="container mx-auto">
        <h1 class="text-4xl font-bold text-darkNavy text-center mt-10">
          Policies
        </h1>
        <div class="mt-5 px-6">
          <h1 class=" text-gold text-2xl font-bold">
            Privacy Policy
          </h1>
          <p class="font-bold mt-4">
            The company will collect personal information such as name, address,
            email, and financial information for investment purposes.
          </p>
          <p class="font-bold">
            The collected information will be securely stored and protected from
            unauthorized access.
          </p>
          <p class="font-bold">
            The company may use collected information to send updates,
            promotional material and other relevant information, but investors
            have the option to opt-out of such communications.
          </p>
          <p class="font-bold">
            The company will not sell or share personal information to
            third-party companies without explicit consent from the investor.
          </p>
        </div>
        <div class="mt-5 px-6">
          <h1 class=" text-gold text-2xl font-bold">
            Terms And Conditions
          </h1>
          <p class="font-bold mt-4">
            Investors must be of legal age and meet the necessary eligibility
            requirements to invest.
          </p>
          <p class="font-bold">
            Investors are responsible for the accuracy of their personal
            information and must keep it up-to-date.
          </p>
          <p class="font-bold">
            The company will not be responsible for any losses or damages
            incurred from investments made through the platform.
          </p>
          <p class="font-bold">
            Investors must comply with all relevant laws and regulations when
            using the platform.
          </p>
          <p class="font-bold">
            The company strives to provide accurate information, but does not
            guarantee the accuracy or completeness of any information provided.
          </p>
          <p class="font-bold">
            The company reserves the right to modify or terminate its services
            at any time without prior notice.
          </p>
        </div>
        <div class="mt-5 px-6">
          <h1 class=" text-gold text-2xl font-bold">
            Anti-Spam Policy
          </h1>
          <p class="font-bold mt-4">
            The company strictly prohibits sending unsolicited emails, messages
            or any other forms of spam.
          </p>
          <p class="font-bold">
            Investors found to be engaging in spam activities will have their
            accounts terminated without prior notice.
          </p>
          <p class="font-bold">
            The company may take legal action against those who engage in spam
            activities and violate the anti-spam policy.
          </p>
        </div>
      </div>
      </div>
    </section>
    <%- include("partials/options"); -%>
    <!-- Footer -->
    <%- include("partials/footer"); -%>
    <script src="../JS/aboutUS.js"></script>
  </body>
</html>
