<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Suspended</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
</head>

<body>
  <main class="fixed flex flex-col justify-center items-center gap-5 bg-darkNavy p-4 w-screen h-screen text-white">
    <img class="w-20" src="../images/suspended.png" alt="Suspension Icon">
    <div class="w-full md:w-[80%] lg:w-[60%] text-center text-xs sm:text-sm md:text-base">
      <h1 class="my-4 text-xl sm:text-3xl md:text-3xl lg:text-4xl">Account Suspended</h1>
      <p>Your account have been temporarily suspended.</p>
      <p class="mt-4">Please contact our account administrator below to help you recover your account.</p>
    </div>
    <a class="border-2 border-gold bg-gold hover:bg-inherit mt-4 px-4 py-2 rounded-3xl hover:text-gold duration-500" href="mailto:suspended@realmforte.com?subject=Account Suspension">Send Email</a>
  </main>
  <!-- Translator -->
  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      default_language: "en",
      detect_browser_language: true,
      wrapper_selector: ".gtranslate_wrapper",
      flag_style: "3d",
    };
  </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
</body>

</html>